<% layout("/layouts/boilerplate") %>

<style>
    .signup-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgb(198, 191, 191);
        border-radius: 0.3rem;
        margin: 0 auto;
    }
    .signup-link-login-page {
        text-decoration: none;
    }
    .signup-link-login-page:hover {
        text-decoration: underline;
    }
    @media (max-width: 500px) {
        .login-phone {
            margin: 0 0 0 1rem;
            width: 90%;
        }
        .signup-link-phone {
            width: 90%;
        }
        .signup-link span, .signup-link-login-page {
            font-size: 0.9rem;
        }
    }
</style>

<div class="row">
    <div class="col-6 offset-3 login-phone">
        <h1>Login</h1>
        
        <form method="POST" action="/login" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" name="username" id="username" class="form-control"
                required
                >
                
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                required
                >
                
            </div>

            <button class="btn btn-success">Login</button>

        </form>

        <hr> 

        <div class="signup-link signup-link-phone">
            <span>Don't have an account &nbsp; </span><a class="signup-link-login-page" href="/signup">Sign up</a>
        </div>
    </div>
    
</div>